.home-page {
    .home-panner {
        .container {
            position: absolute;
            top: 110px;
        }
    }
    .home-page-content {
        margin-top: 0px;
        .process-box {
            height: 220px;
        }
    }
}